-- UBICANDONOS EN MASTER
USE MASTER
GO

-- PASO 1
-- COPIA DE SEGURIDAD COMPLETA DE RH

BACKUP DATABASE [RH] 
TO  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH NOFORMAT, NOINIT,  
	NAME = N'Copia de seguridad completa de RH', 
	SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO

-- PASO 2
-- INSERTAR UNA FILA EN LA TABLA ALGO

INSERT INTO RH.DBO.ALGO(DATO) VALUES('SQL SERVER');
GO

SELECT * FROM RH.DBO.ALGO;
GO

-- PASO 3
-- COPIA DE SEGURIDAD COMPLETA DE RH

BACKUP DATABASE [RH] 
TO  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH NOFORMAT, NOINIT,  
	NAME = N'Copia de seguridad 2 de RH', 
	SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO

-- VER LAS COPIAS DE UN ARCHIVO
RESTORE HEADERONLY
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak';
GO


-- PASO 4
-- INSERTAR UNA FILA EN LA TABLA ALGO

INSERT INTO RH.DBO.ALGO(DATO) VALUES('ORACLE');
GO
SELECT * FROM RH.DBO.ALGO;
GO


-- PASO 5
-- COPIA DE SEGURIDAD COMPLETA DE RH

BACKUP DATABASE [RH] 
TO  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH NOFORMAT, NOINIT,  
	NAME = N'Copia de seguridad 3 de RH', 
	SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO

-- VER LAS COPIAS DE UN ARCHIVO
RESTORE HEADERONLY
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak';
GO

-- PASO 6

DROP DATABASE [RH];
GO


-- VER LAS COPIAS DE UN ARCHIVO
RESTORE HEADERONLY
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak';
GO

-- PASO 7
-- RESTAURANDO LA BASE DE DATOS RH
-- ARCHIVO 1

DROP DATABASE [RH];
GO

RESTORE DATABASE [RH] 
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH  FILE = 1,  NOUNLOAD,  STATS = 5
GO

SELECT * FROM RH.DBO.ALGO;
GO

-- PASO 8
-- RESTAURANDO LA BASE DE DATOS RH
-- ARCHIVO 2

DROP DATABASE [RH];
GO

RESTORE DATABASE [RH] 
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH  FILE = 2,  NOUNLOAD,  STATS = 5
GO

SELECT * FROM RH.DBO.ALGO;
GO


-- PASO 8
-- RESTAURANDO LA BASE DE DATOS RH
-- ARCHIVO 3

DROP DATABASE [RH];
GO

RESTORE DATABASE [RH] 
FROM  DISK = N'G:\EGCC\BAK\RH_TOTAL.bak' 
WITH  FILE = 3,  NOUNLOAD,  STATS = 5
GO

SELECT * FROM RH.DBO.ALGO;
GO